{% extends '_template/base.html.twig' %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/newsAdmin.css">
{% endblock %}

{% block body %}
<div class="news-container">
	<div class="container mt-5">
		<h2 class="mb-4">Gestion des Actualités</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titre</th>
					<th>Contenu</th>
					<th>Date de publication</th>
					<th>Auteur (ID)</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for new in news %}
				<tr>
					<td>{{ new.getIdArticle() }}</td>
					<td>{{ new.getTitreArticle() }}</td>
					<td class="ellipsis-td">{{ new.getContenu() }}</td>
					<td>{{ new.getDatePublication().format('d/m/Y H:i') }}</td>
					<td>{{ new.getIdUser() }}</td>
					<td>
						<a href="#" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
						<button class="btn btn-danger btn-sm delete-new" data-new-id="{{ new.getIdnew() }}"><i class="bi bi-trash"></i></button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
