{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center about">
	<h1 class="mb-4">À propos</h1>

	<main class="container text-center">
		<section class="row">
			<article class="col-12 col-md-4">
				<div class="p-4 border rounded text-center">
					<i class="bi bi-music-note-beamed display-5"></i>
					<h2>SOIRÉE ÉTUDIANTE</h2>
					<p>La bonne ambiance et la solidarité qui participent à l’esprit de promotion passent aussi par nos
						soirées. Avant chaque vacances, c’est l’occasion pour tout le monde de se retrouver pour faire
						la fête autour d’un thème original.</p>
				</div>
			</article>
			<article class="col-12 col-md-4">
				<div class="p-4 border rounded text-center">
					<i class="bi bi-lightning-charge-fill display-5"></i>
					<h2>VIE ASSOCIATIVE</h2>
					<p>Les clubs du BDE, variés et dynamiques rythment la vie des élèves-ingénieurs. Grâce à leur grande
						diversité, chacun trouvera des activités qui lui correspondent.</p>
				</div>
			</article>
			<article class="col-12 col-md-4">
				<div class="p-4 border rounded text-center">
					<i class="bi bi-people-fill display-5"></i>
					<h2>INTEGRATION DES NOUVEAUX ÉLÈVES</h2>
					<p>Une semaine de rentrée riche en événements, week-end d’intégration ; la découverte de l’école et
						la cohésion entre les différentes promotions sont ainsi favorisées.</p>
				</div>
			</article>
		</section>
	</main>
</div>

<div class="d-flex flex-column align-items-center bde-in-number">
	<h1 class="mb-4">LE BDE EN CHIFFRE</h1>
	<main class="container">
		<section class="row">
			<article class="col-12 col-md-4">
				<div class="p-4 text-center">
					<h2 class="display-1 number">{{ nombreMembres }}</h2>
					<p>C'est le nombre de membres en 2025</p>
				</div>
			</article>
			<article class="col-12 col-md-4">
				<div class="p-4 text-center">
					<h2 class="display-1 number">{{ nombreEvenements }}</h2>
					<p>C'est le nombre d'événements organisés en 2025</p>
				</div>
			</article>
			<article class="col-12 col-md-4">
				<div class="p-4 text-center">
					<h2 class="display-1 number">{{ nombreAdherents }}</h2>
					<p>C'est le nombre d'adhérents en 2025</p>
				</div>
			</article>
		</section>
	</main>
</div>

<div class="d-flex flex-column align-items-center justify-content-center next-events">
	<div class="d-flex flex-column flex-md-row align-items-center w-100 mb-4">
		<h1 class="next-events-title mb-3 mb-md-0 me-md-3">PROCHAINS EVENEMENTS</h1>
		<a href="#" class="btn-show-more">Voir plus <i class="bi bi-arrow-right-short"></i></a>
	</div>

	<main class="container">
		<section class="row">
			{% for event in upcomingEvents %}
			<a href="#" class="col-12 col-md-6 col-lg-4 next-event link-event mb-4">
				<div class="p-4 border rounded text-center">
					<h2>{{ event.getTitreEvent() }}</h2>
					<p class="next-event-date"><i class="bi bi-calendar"></i> {{ event.getDateDebut()|date("d F Y", "Europe/Paris") }}</p>
					<p class="next-event-description">{{ event.getDescription() }}</p>
					<p class="next-event-place"><i class="bi bi-geo-alt-fill"></i> {{ event.getAdresse() }}</p>
				</div>
			</a>
			{% endfor %}
		</section>
	</main>
</div>

<div class="d-flex flex-column align-items-center justify-content-center actualites py-5">
	<h1 class="actualites-title mb-4">ACTUALITÉS</h1>
	<div class="actualites-container d-flex flex-row">
		{% for actualite in lastActualites %}
		<div class="actu-item p-4 border rounded text-center mx-2">
			<h2 class="actu-title">{{ actualite.getTitreArticle() }}</h2>
			<p class="actu-date"><i class="bi bi-calendar"></i> {{ actualite.getDatePublication()|date("d F Y", "Europe/Paris") }}</p>
			<p class="actu-content">{{ actualite.getContenu() }}</p>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}